<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd4mvsRpmDR-wSFPpiuMj12m31kFM7Rl0</string>
	<key>GCM_SENDER_ID</key>
	<string>249150255056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailPasswordLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginauth-8e36c</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauth-8e36c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249150255056:ios:d5da5a73202406b1ea13d5</string>
</dict>
</plist>